body{
    font-size: 16px;
    color: fff;
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}

#header-nav{
    background-color: rgb(231, 116, 173);
    border-radius: 0;
    border: 0;
}

section{
    height: 500px;
}

h2{
    text-align: left;
}

.menu{
    text-align: center;
}

.chk{
    text-align: center;
    background-color: bisque;
    color: rgb(12, 59, 97);
    margin: 1.8em;
    padding: 1em;
}

h4{
    font-weight: 500;
    color: rgb(32, 3, 85);
}

.visible-xs{
    text-align: center;
    background-color: rgb(122, 223, 236) ;
}

.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #61122f;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
